:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --rosa: #c36df5;
  --morado: #8c55a6;
  --gris: #82766d;
}

// Hero index
.fondoHero {
  background: url(../img/newPhotos/index/hero/hero.webp) no-repeat !important;
  background-size: 100% auto !important;
  height: 556px !important;
}
.paddingTopHero {
  padding-top: 15% !important;
}

@media (max-width: 1200px) {
  .fondoHero {
    background-size: cover !important;
    height: 556px !important;
  }

  .paddingTopHero {
    padding-top: 65% !important;
  }
}

@media (max-width: 750px) {
  .fondoHero {
    background: none !important;
    height: 300px !important;
  }

  .paddingTopHero {
    padding-top: 20% !important;
  }
}

// Centra objetos
.centerObject {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Imagenes de fondo
.cta_bg {
  background: url(../img/newPhotos/index/confiaNosotros/enfermeras.webp)
    no-repeat center center;
  background-size: cover;
  width: 100%;
}
.page_header_bg {
  background: url(../img/newPhotos/especialistas/hero/doctores.webp) no-repeat
    center center;
  background-size: cover;
  width: 100%;
}

// Color de textos
.section-text.section-text-black.pos-rel h5 {
  color: #fff;
}

.about-title h4,
.section-text.pos-rel.home_ser_title h2,
.service-content h3,
.footer-modern h5,
.section-text.section-text-small.pos-rel h1,
.single-couter h1,
.page-breadcumb .breadcrumb-item.active,
.rosa {
  color: var(--rosa);
}

.team-content h6,
.section-text.pos-rel .morado,
.single-satisfied.mb-50 h5,
a:focus,
.morado {
  color: var(--morado);
}

.hero-text.position-relative.paddingTopHero p {
  color: var(--morado);
}

.page-breadcumb .breadcrumb-item a {
  color: #fff;
}

.col-md-4.text-center.text-md-right a:hover {
  color: var(--morado);
}

.header__menu ul li a:hover {
  color: var(--morado);
}

.header__menu ul li ul.submenu li a:hover {
  color: var(--morado);
}

.header-social-icons ul li a:hover {
  color: var(--morado);
}

// color iconos check
.professinals-list li i {
    color: var(--morado);
    border-color: var(--morado);
}

.professinals-list li:hover i {
    background-color: var(--morado);
}

// Color botones
.btn-icon {
  color: #fff;
    background-color: var(--rosa);
    box-shadow: 0px 8px 16px 0px rgba(225, 36, 84, 0.2);
}
.btn-icon:hover {
    background-color: var(--morado);
    color: #fff;
}
.primary_btn {
    background: var(--rosa);
    color: #fff;
}
.primary_btn {
    background: var(--rosa);
    color: #fff;
}
.primary_btn:hover {
    background: var(--morado);
    color: #fff;
}

// Estilos para formulario de contacto
.form-area {
  background-color: #f7f7f7;
  color: var(--morado);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--gris);
}

input,
select {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  background-color: #fff;
  color: var(--morado);
}

select {
  background-color: #fff;
  color: var(--morado);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
  border-color: var(--morado);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  background-color: var(--rosa);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--morado);
}

.required {
  color: #f00;
  font-weight: bold;
}

.required::after {
  content: "*";
  color: #f00;
}

// correccion overflow
.btn-icon {
  padding-left: 15%;
}

// iconos en home
.hero .service-thumb {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px auto;
  background: var(--rosa);
  border-radius: 50%;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.06);
  transition: background 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .service-thumb i {
  font-size: 5rem;
  color: #fff; /* Cambia este color para el icono */
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .service-thumb:hover {
  background: var(--morado);
}

// .hero .service-thumb:hover i {
//   color: var(--gris);
// }

// Hover en seleccion
.service-box {
  border: 1px solid #8d6fd1;
}
.service-box:hover {
  border-color: #fff;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 16px 32px 0px rgba(141, 111, 209, 0.5);
}

// hover en titulos
.service-box .service-content h3 a:hover {
  color: var(--morado);
}

// correccion de altura de cajas de servicios
.service-box {
  height: 95%;
}
